
{% extends 'base.html.twig' %}

{% block body %}

    <main role="main">

    <div class="jumbotron">
        <div align="center"><h1>Please login</h1></div>
        <div class="container">
            <div class="mt-4">

                {% for message in app.flashes('error') %}
                    <div class="flash-notice alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}

                <form action="{{ path('login') }}" method="post">
                    <label for="username" class="sr-only">Username </label>
                    <input type="text" class="form-control" placeholder="Username" id="username" name="_username" value="{{ last_username }}" />

                    <label for="password" class="sr-only">Password </label>
                    <input type="password" id="password" placeholder="Password" name="_password" class="form-control"/>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        If you want to control the URL the user
                        is redirected to on success (more details below)
                        <input type="hidden" name="_target_path" value="/account" />
                    #}

                    <button type="submit" class="btn btn-primary btn-block mt-2">login</button>
                </form>

            </div>
        </div>
    </div>





{% endblock %}